<a href="https://colab.research.google.com/github/Javier-Alfonso-DS/S03_T01_Estructura_de_dades.ipynb/blob/main/S03_T01_Estructura_de_dades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# - Exercici 1

Crea una llista que agrupi els mesos de l’any en trimestres (1T: Gener, Febrer i Març, 2T: Abril, Maig, Juny...), és a dir, una llista amb 4 llistes dins.

In [ ]:
MesosAny = [["Gener","Febrer","Març"],["Abril","Maig","Juny"],["Juliol","Agost","Setembre"],["Octubre","Novembre","Desembre"]]

# - Exercici 2
Crea un codi que et permeti accedir a:

* El segon mes del primer trimestre
* Els mesos del primer trimestre
* Setembre i octubre

In [ ]:
print("El segon mes del primer trimestre es",MesosAny[0][1])
print("Els mesos del primer trimestre son", MesosAny[0])
print("Els mesos Setembre i Octubre son:", MesosAny[2][2],MesosAny[3][0])

El segon mes del primer trimestre es Febrer
Els mesos del primer trimestre son ['Gener', 'Febrer', 'Març']
Els mesos Setembre i Octubre son: Setembre Octubre

#- Exercici 3
Crea una llista amb nombres desordenats i respon a les següents preguntes:

* Quants números hi ha?
* Quantes vegades apareix el número 3
* Quantes vegades apareixen els nombres 3 i 4?
* Quin és el número més gran?
* Quins són els 3 números més petits?
* Quin és el rang d’aquesta llista?

In [ ]:
Numeros = [3,7,2,1,326,580,634,22,789,4,1122,68,3,211,79,56,990,423,12,4,789,898,1]
Numeros3 = [x for x in Numeros if x==3]
print("El número 3 apareix",len(Numeros3),"vegades")
print("Els nombres 3 i 4 apareixen",len([x for x in Numeros if x==3 or x==4]),"vegades")
print("El número més gran es",max(Numeros))
a = min(Numeros)
output="Els 3 números més petits son " + str(a)
NumerosWork = Numeros.copy()
NumerosWork.remove(a)
b = min(NumerosWork)
output = output + ", " + str(b)
NumerosWork.remove(b)
c = min(NumerosWork)
output = output + ", " + str(c)
NumerosWork.remove(c)
print(output)
#El rang suposem que vol dir la longitut de la llista
print("El rang d'aquesta llista es",len(Numeros))

El número 3 apareix 2 vegades
Els nombres 3 i 4 apareixen 4 vegades
El número més gran es 1122
Els 3 números més petits son 1, 1, 2
El rang d'aquesta llista es 23

# - Exercici 4
Crea un diccionari de la següent forma i respon a les preguntes:

compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

* Afegeix alguna fruita més
* Quant han costat les peres en total?
* Quantes fruites hem comprat en total?
* Quina és la fruita més cara?

In [ ]:
compra = {"Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 1.66} }

In [ ]:
compra["Plàtans"]={"Qty":4,"€": 1.88}
print("Afegim fruita nova",compra)

Afegim fruita nova {'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 1.66}, 'Plàtans': {'Qty': 4, '€': 1.88}}

In [ ]:
print("Les peres costen en total",compra["Peres"]["Qty"]*compra["Peres"]["€"])

Les peres costen en total 1.98

In [ ]:
print("Hem comprat un total de:",len(compra),"fruites")
print(compra)

Hem comprat un total de: 3 fruites

In [ ]:
print("La fruita més cara es",max(compra.keys(), key = lambda x:compra[x]['€']))

La fruita més cara es Plàtans